# Supabase Configuration
VITE_SUPABASE_URL=https://wihvzkrnwetgorcnqfpv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndpaHZ6a3Jud2V0Z29yY25xZnB2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwNzIxNDMsImV4cCI6MjA4OTY0ODE0M30.A0jXrcLx0uUHlFe5POFDmzTUwVtuWiWJM1f1AXXtU0w

# Gemini API Configuration
VITE_GEMINI_API_KEY=
